@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="dvfilterList">
    @{
        Html.RenderPartial("~/Views/Shared/PrepareExam/Filter/_List.cshtml");
    }
</div>

<div id="dvAddFilter" style="display:none">
    @{
        Html.RenderPartial("~/Views/Shared/PrepareExam/Filter/_AddFilter.cshtml");
    }
</div>

<div id="dvQuestionList">
    @{
        Html.RenderPartial("~/Views/Shared/PrepareExam/Questions/_List.cshtml");
    }
</div>