
<div class="container body-content" style="display:none">
    <label>Konular</label>
    <p>
        <a href="#" onclick="openSubjectEditForm(0, null)">Yeni Kayıt</a>
    </p>
    <table id="tblSubject" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Seç")
                </th>
                <th>
                    @Html.DisplayName("Tanım")
                </th>

                <th>
                    @Html.DisplayName("Duzenle")
                </th>
                <th>
                    @Html.DisplayName("Sil")
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>






