<div id="dvQuestionOption">
    <table id="tblQuestionOption" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Şık")
                </th>
                <th>
                    @Html.DisplayName("Değer")
                </th>
                <th></th>
                <th style="display:none"></th>
                <th style="display:none"></th>
               
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
